<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
       <div class="container">
            <div class="row">
                <div class="span4"><img class="center-block" src="images/error404.png" /></div>
                <div id="errorBtn" class="main_header_left"><a href="/"><button>Home Page</button></a></div>
            </div>
            
            
        </div>
    {{>footer}}
</body>
</html>